body{
    background-color: rgb(252, 238, 215);
    font-family: "Outfit";
    
}

p {
    font-size: 16px;
   

}

.outer_layer{
    background-color: aliceblue;
}

body > div {
    border-radius: 20px;
    padding: 45px;
    margin: 30px;
    
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

div:nth-child(3) {
    background-color: rgb(251, 236, 242);
    border-radius: 20px;
    padding: 15px;
    
}

h1 {
    font-family: "Young Serif";
}

h3 {
    color:rgb(198, 87, 87);

}

h2 {
    color:rgb(198, 87, 87);
    font-family: "Young Serif";
}

table {
    width: 100%;
}

td {
    border-bottom: 1px solid #ddd;
}

td:nth-child(2) {
    color:rgb(198, 87, 87);    
}

ul,ol {
    list-style-position: outside;
}

li {
    margin-top: 10px;
}

li::marker{
    color: rgb(198, 87, 87);
    margin:5px;
}

ul {
    list-style-type: disc;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%) 
}